body {
  text-align: center;
  font-family: 'Montserrat', helvetica neueu, arial, sans-serif;
  color: #90261C;
}

h1 {
  font-size: 75px;
  margin-bottom: 0;
}

h1 .line1 {
  font-size: 90px;
}

h1 b {
  font-size: larger;
}

hr {

}

h2 {
  font-family: 'Allura';
  font-size: 40px;
}
